*{
    margin: 0;
    
}
.background{
    text-align: center;
    padding-top: 170px;
    width: 100%;
    height:500px;
    background-image: url(/images/backgroundimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: 50px;
    font-size: 40px;
    background-color: gray;   
}
.headerpara{
    text-align: center;
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.header .donate-btn{
    text-align: center;
    font-size: 20px;
    width: 160px;
    height: 60px;
    background-color:rgb(204, 82, 82);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    margin: 0 auto;
}
h2{
    text-align: center;
    margin-top:100px;
    margin-bottom: 30px;
    font-size: 40px;
}
.donate-today-para{
    text-align: center;
    width: 810px;
    margin: 0 250px 80px 250px; 
}
.tk{
    display: flex;
    list-style-type: none;
    text-indent: 60px;
    font-size: 40px;
    color: gray;
    padding-left: 320px;
}
span{
    color: rgb(243, 48, 48); 
    border: 1px solid rgb(226, 47, 47); 
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
}
main .second-para{
    text-align: center;
    margin-top: 100px;
    color: gray;
    margin-bottom: 100px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}
main p{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    color: grey;
}
main button{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    width: 160px;
    height: 40px;
    background-color:rgb(204, 82, 82);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    margin-left: 595px;
    margin-bottom: 100px;
}
.donate-plan p{
    color:gray;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.plan{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.education , .color-p , .shelter , .family{
    width: 300px;
    height: 100px;
    background-color:rgb(248, 220, 182);
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    justify-content: center;
    margin-right: 100px;
    margin-bottom: 300px;
}
.image{
    margin:0 autos;
}
.nd-button{
    background-color:rgb(204, 82, 82);
    height: 60px;
    width: max-content;
    margin:auto 0;
}
.img-para .title{
    text-align: justify;
    font-size: 100px;
}
.img{
    width: 
    700px;
    height: 500px;  
    margin-left: 400px;
}
.img-para{
    display: flex;
}
.container {
    display: flex;
    align-items: center; 

   }
   
   .image{
     width: 500px;
     height: 100px;
   }
   
   .text {
     font-size: 20px;
     margin-top: 500px;
     text-align: justify;
     width: 500px;
    }
    .abcd{
        text-align: center;
    }
.container-two{
    margin-top: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}
.text2{
    font-size: 20px;
    text-align: center;
    width:500px;
    color:black; 
    margin-left:150px;
}
.last-para{
    width: 500px;
    align-items:center;
    margin-left: 450px;
    margin-bottom: 200px;
}
.info{
    margin: 0 auto;
   margin-left: 550px;
}